.menu-title {
  font-family: var(--font-display), serif;
  font-size: 2rem;
}

.menu {
  background-color: var(--cYellow-light);
}

#stats {
  color: var(--cBrown-dark);
  font-family: var(--font-regular), serif;
  font-weight: bold;
}
