.title {
  font-family: var(--font-display), cursive;
  font-size: 3.4rem;
  font-weight: 500;
  color: var(--cDark);
}

.money {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  &-value {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cBrown-dark);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.right-panel,
.left-panel
{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-panel {
  gap: 2rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.ascension {
  &-value {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cBrown-dark);
  }

  &-potential {
    color: var(--cDark);
  }
}
