<header class="header fixed md:flex md:px-8 px-4">
  <div class="left-panel flex justify-between">
    <div class="title">Idle Bakery</div>
    <div class="md:hidden block">
      <button matMiniFab (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="right-panel md:flex hidden">
    <ng-container *ngTemplateOutlet="moneyRef" />
    <div id="stats" class="grid grid-cols-4 gap-x-4 gap-y-2">
      <p>Life Lessons: +{{lifeLessons()}}</p>
      <p>Life Lessons Multiplier: {{lifeLessonsMultiplier() * 100}}%</p>
      <p>Potential Life Lessons: +{{potentialLifeLessons()}}</p>
      <p>Life Lessons Bonus: {{lifeLessons() * lifeLessonsMultiplier() * 100}}%</p>
      <p>Critical Chance: {{criticalChance() * 100}}%</p>
      <p>Critical Multiplier: {{criticalMultiplier() * 100}}%</p>
      <p>Global Sell Multiplier: {{globalSellMultiplier()}}</p>
      <p>Global Speed Multiplier: {{globalSpeedMultiplier()}}</p>
    </div>

    <button matMiniFab (click)="toggleAudio()" matTooltip="Toggle SFX!">
      @if (sfxEnabled()) {
        <mat-icon>volume_up</mat-icon>
      }@else { <mat-icon>volume_off</mat-icon> }
    </button>

    <button matButton="elevated" color="accent" (click)="toggleMusic()">
      @if (musicPlaying()) {
        <mat-icon>music_note</mat-icon>
      }@else {
        <mat-icon>music_off</mat-icon> }
      Toggle Music
    </button>

    <button
      [matTooltip]="
        'Clicking this will immediately delete all progress! You will gain a number of life lessons based on your total pastry level.'
      "
      (click)="openConfirmDialog()"
      matButton="filled"
      color="primary"
    >
      Retire Now
    </button>
  </div>
  <div class="md:hidden block">
    <ng-container *ngTemplateOutlet="moneyRef" />
  </div>
</header>

<ng-template #moneyRef>
  <div class="money">
    <img src="/fc131.png" alt="money-icon" class="h-8 w-8" />
    <p class="money-value">{{ money().toSuffixString() }}</p>
  </div>
</ng-template>
