<div class="item-card">
  <div class="item-header">
    <img [src]="pastry().image" [alt]="pastry().name" class="item-image" />
    <div class="item-info">
      <h3>{{ pastry().name }}</h3>
      <p class="level">Level: {{ pastry().level }}</p>
    </div>
  </div>

  <div class="actions">
    <button (click)="build()" [disabled]="isBuilding() || pastry().level === 0">
      {{ isBuilding() ? "Baking..." : "Bake & Sell" }}
    </button>

    <button (click)="levelUp()"
            [class.pulse]="pastry().level === 0 && store.hasEnoughMoney(pastry().baseCost)">
      {{pastry().level === 0 ? "Unlock" : "Level Up"}}
       ({{ nextCost.toSuffixString() }})
    </button>
  </div>

  <div class="upgrade-list">
    @for (upgrade of pastry().upgrades; track upgrade.id) {
      <div class="upgrade" [matTooltip]="upgrade.description">
        <mat-checkbox
          [checked]="upgrade.purchased"
          [disabled]="upgrade.purchased || upgrade.levelRequirement > pastry().level || !store.hasEnoughMoney(upgrade.cost)"
          (change)="buyUpgrade(upgrade.id)"
        />
        <div class="upgrade-text">
          <p class="upgrade-name">
            {{ upgrade.name }}
            @if(upgrade.levelRequirement > pastry().level) {
            <span class="upgrade-lvlReq">(Unlocks at lvl: {{ upgrade.levelRequirement }})</span>
            }
          </p>
          <p class="upgrade-description">{{ upgrade.cost.toSuffixString() }}</p>
        </div>
      </div>
    }
  </div>

  <div class="progress-bar">
    <div
      class="progress"
      [style.width.%]="store.pastryProgress.get(pastry().id)?.()"
    ></div>
  </div>

  <div class="stats">
    <p>
      Earns: <strong>{{ earnings.toSuffixString() }}</strong> per sale
    </p>
  </div>
</div>
